{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block page_title %} Sprints {% endblock %}
{% block content %}
<form action="{% url 'sprint:addNewSprint' %}" method="GET" class="form-inline">
  <div class="form-group">
    <h2> Sprints </h2>
  </div>
  <button type="submit" class="btn btn-primary btn-sm" style="margin-top: 15px">Add New Sprint</button>
</form>
<div class="row">
  <div class="col-md-12">
		<table id="storyDetails" class="table table-striped table-bordered">
  			  <thead>
        			<td> # </td>
        			<td> Name </td>
        			<td> From </td>
        			<td> To </td>
  			  </thead>
  			  {% for sprint in sprints %}
  				  <tr>
      				<td>{{ forloop.counter }}</td>
      				<td><a href="/app/sprint/edit/{{ sprint.sprint_id }}">{{ sprint.sprint_name }}</a></td>		
      				<td>{{ sprint.sprint_from_date }}</td>
              <td>{{ sprint.sprint_to_date }}</td>
    				</tr>
			  {% endfor %}
		</table>
	</div>
</div>
{% endblock %}